# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.git

# Virtual Environments
venv/
env/
ENV/
.env
.venv/
.conda_env/

# Database
*.db
*.sqlite3
.cache.sqlite

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# user
todo.md
prompt.md
loan_assets/*
!loan_assets/init.txt
vector_store/*
!vector_store/init.txt