/* Global variable */
:root {
    --green: #367a23;
    --main-bg: #f0f0f0;
    --sidebar-bg: #f8f8f8;
    --white: #fff;
    --border-color: rgba(80, 104, 80, 0.37);
}


* {
    font-family: 'Inter', sans-serif;
}

/* backgroun styling*/

#main-app {
    background: var(--main-bg);
}

.custom-bg{
    margin-top: 9px;
    padding: 3px;
     background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.856) 0%,
            rgba(255, 252, 219, 0.76) 50%,
            rgba(166, 255, 163, 0.16) 100%);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(92, 138, 92, 0.63);
    box-shadow: 0 10px 20px rgba(55, 68, 57, 0.19);
    border-radius: 9px;

}
/* ---------------- */

/* Typography */
#page-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--green);
    cursor: pointer;
}

#page-title:before {
    content: " > ";
    color: var(--green);
    font-weight: 700;
}

#page-title:after {
    content: " > ";
    color: var(--green);
    font-weight: 700;
}
/* ---------------- */

/* buttons styling */
.btn-prim {
    background-color: var(--green);
    color: white;
    border: 1px solid #818380;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease;
}

.btn-prim:hover {
    transform: scale(0.95);
}

.btn-second {
    color: rgb(91, 122, 91);
    font-weight: 500;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.897) 0%,
            rgba(252, 255, 252, 0.658) 50%,
            rgba(252, 255, 253, 0.753) 100%);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(94, 119, 94, 0.64);
    box-shadow: 1px 5px 10px rgba(55, 68, 57, 0.20);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease;
}

.btn-second:hover {
    transform: scale(0.95);
}
/* ---------------- */


/* Sidebar Styling */
#sidebar {
    width: 230px;
    /* Slightly wider to match previous 60/64 units approx */
    height: calc(100vh - 10px);
    padding: 4px;
    border-radius: 12px;
    margin: 7px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.856) 0%,
            rgba(206, 250, 209, 0.2) 50%,
            rgba(252, 255, 253, 0.226) 100%);
    backdrop-filter: blur(20px);
    border: 1px solid var(--border-color);
    box-shadow: 0 10px 20px rgba(55, 68, 57, 0.22);
    flex-shrink: 0;
    position: sticky;
    top: 5px;
}

/* Form Input Styles Override */
input:focus,
select:focus,
textarea:focus {
    border-color: var(--border-color) !important;
    box-shadow: none !important;
    outline: none !important;
}

